body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: #333333;
    background: #d21034;
}

h1 {
    padding: 20px 0;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #eee;
    font-size: 28px;
    text-align: center;
    background: #333;
}

h2 {
    font-size: 24px;
}
a   {
    color: #d21034;
}

#bio-image {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.container {
    background-color: gray;
	height:100%;
	width:100%;
    padding-left: 10px;
    padding-right: 10px;
}

#main-bio {
    float: left;
    width: 70%;
	display: block;
}

#contact {
    float: right;
	width: 30%;
	display: block;
}
